@model MedicalOfficeManagement.Models.Medecin

@{
    ViewData["Title"] = "Détails du Médecin";
}

<h1>Détails du Médecin</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NomPrenom)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NomPrenom)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Specialite)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Specialite)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la Liste</a>
</div>