@model IEnumerable<MedicalOfficeManagement.Models.Medecin>

@{
    ViewData["Title"] = "Liste des Médecins";
}

<h1>Liste des Médecins</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer un Nouveau Médecin</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @* CORRECTION : Afficher Nom et Prénom ensemble *@
                @Html.DisplayNameFor(model => model.NomPrenom)
            </th>
            <th>
                @* NOUVEAU : Afficher la Spécialité *@
                @Html.DisplayNameFor(model => model.Specialite)
            </th>
            <th>
                @* NOUVEAU : Afficher le Téléphone *@
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @* NOUVEAU : Afficher l'Email *@
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @* NOUVEAU : Afficher l'Adresse *@
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @* Affiche l'ID de l'utilisateur Identity lié (pour vérification) *@
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* CORRECTION : Afficher NomPrenom *@
                    @Html.DisplayFor(modelItem => item.NomPrenom)
                </td>
                <td>
                    @* Afficher la Spécialité *@
                    @Html.DisplayFor(modelItem => item.Specialite)
                </td>
                <td>
                    @* Afficher le Téléphone *@
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @* Afficher l'Email *@
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @* Afficher l'Adresse *@
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>